.main {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5%;
  left: 50%;
  padding-top: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;

  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main a:hover {
  color: #f0ae4bb7;
}
.main a:active {
  color: #f0ae4bb7;
}

.main .dot {
  width: 6px;
  height: 6px;
  background: #f0ae4bb7;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.main a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(360px);
  transform: translateX(360px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  -moz-transform: translateX(360px);
  -ms-transform: translateX(360px);
  -o-transform: translateX(360px);
}
